.custom-button {
  cursor: pointer;
  display: inline-block;
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 1px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 1.6rem;
  background-color: #222;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bolder;
  border: 1px solid #222;
  transition: all .4s ease-in-out;

  &:hover {
    background-color: transparent;
    color: #222;
  }
  &.google-sign-in{
    background-color: #4285f4;
    border: 1px solid #4285f4;
    color: #fff;
    transition: all .4s ease-in-out;

    &:hover{
      background-color: transparent;
      color: #222;
    }
  }
}
