.custom-button {
  $blue-color: #0466c8;
  $dark-color: #011627;
  cursor: pointer;
  display: inline-block;
  width: 100%;
  width: auto;
  height: 50px;
  letter-spacing: 1px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 1.6rem;
  background-color: $dark-color;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bolder;
  border: 1px solid $dark-color;
  transition: all .4s ease-in-out;

  &:hover {
    background-color: transparent;
    color: #222;
  }
  &.google-sign-in{
    display: block;
    width: 100%;
    background-color: $blue-color;
    border: 1px solid $blue-color;
    color: #fff;
    transition: all .4s ease-in-out;

    &:hover{
      background-color: $blue-color;
      color: #fff;
      filter: saturate(120%);
    }
  }

  &.inverted {
    background-color: $blue-color;
    border: 1px solid $blue-color;
    color: #fff;

    &:hover{
      background-color: $blue-color;
      color: #ffff;
      opacity: 1;
    }
  }
}
