.collection-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  .title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 25px;
  }

  .preview {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 13px;
    @media (max-width: 1000px){
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 760px){
      grid-template-columns: 1fr;
    }
  }
}
