.collection-page {
  display: flex;
  flex-direction: column;

  .title {
    font-size: 38px;
    margin: 0 auto 3rem;
  }

  .items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 1.4rem;

    & .collection-item {
      margin-bottom: 3rem;
    }
  }
}
