.sign-in{
  display: flex;
  flex-direction: column;
  width: 45rem;

  span{
    margin: 1.5rem 0;
  }

  .buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}