.cart-dropdown {
  position: absolute;
  width: 27.5rem;
  height: 34rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border: 1px solid black;
  background-color: white;
  top: 7.5rem;
  right: 7.5rem;
  z-index: 5;

  .cart-items {
    height: 24rem;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }

  button {
    display: inline-block;
    margin-top: auto;
  }
}
