.signIn-page{
  width: 42rem;
  height: 48rem;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  box-shadow: 0 .4rem .8rem rgba(0,0,0,0.5);
  border-radius: 1rem;
  padding: 2rem;
  margin-bottom: 5rem;

  
  .signin-link{
    margin-top: 2rem;
    padding-bottom: .8rem;
    align-self: flex-start;
    a{
      color: #4285f4;
    }
  }
}