.contact {
	padding-top: 4rem;
	.contact-row {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 7rem;
		@media screen and (max-width: 924px) {
			grid-template-columns: 1fr;
		}
	}
	.contact-form {
		textarea {
			width: 100%;
			height: 15rem;
			margin-top: 1rem;
			margin-bottom: 2rem;
		}
		button {
			margin-bottom: 4rem;
		}
	}

	.contact__details {
		align-self: auto;
		& div {
			margin-bottom: 1rem;
		}
	}
	.location,
	.email,
	.phone {
		display: flex;
		align-items: center;
		h3 {
			margin-bottom: 1rem;
		}

		div:nth-of-type(1) {
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #4285f4;
			width: 4rem;
			height: 4rem;
			border-radius: 100%;
			margin-bottom: 1rem;
		}
		div:nth-of-type(1) * {
			color: #ffff;
		}
		div:nth-of-type(2) {
			margin-left: 2rem;
		}
	}

	.contact__map {
		iframe {
			width: 100%;
			height: 50rem;
		}
	}
}
