.container{
  width: 90%;
  margin: 0 auto;
}
.header {
  margin-bottom: 1rem;
  width: 100%;
  border-bottom: 2px solid #3333;
  background-color: #4285f4;

  .logo-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo-container:focus{
    outline: none;
  }
  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7rem;

    ul{
      display: flex;
      align-items: center;
      list-style: none;
      li{
        cursor: pointer;
        text-decoration: none;
        color: #333;
        text-transform: uppercase;
        font-weight: bolder;
      }
      li:not(:last-child){
        margin-right: 2rem;
      }
      a{
        position: relative;
        cursor: pointer;
        padding-bottom: 3px;
        &:focus{
          outline: none;
        }
        &::after{
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 2px;
          background-color: #4285f4;
          transform: scale(0);
          transition: all .4s ease-in-out;
          transform-origin: left;
        }
        &:hover::after,
        &:focus::after{
          transform: scale(1);
        }
      }
    }
  }
}
