.menu-item{
  height: 27rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #222;
  overflow: hidden;
  
  &:hover{
    cursor: pointer;

    & .background-image{
      transform: scale(1.1);
      transition: all 6s cubic-bezier(0.25, 0.45, 0.45, 00.95);
    }
    & .content{
      background-color: rgba(255, 255, 255, 0.9);
    }
  }

  &.large{
    height: 41rem;
  }
  .background-image{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
  }
  .content{
    position: absolute;
    height: 9rem;
    padding: 0 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #222;
    background-color: rgba(255, 255, 255, 0.7);

    .title{
      font-weight: bold;
      margin-bottom: .6rem;
      font-size: 2.2rem;
      color: #4a4a4a;
    }

    .subtitle{
      font-weight: lighter;
      font-size: 1.6rem;
    }
  }

  &:nth-of-type(1){
    grid-column: 1 / 3;
  }
  &:nth-of-type(2){
    grid-column: 3 / 5;
    @media (max-width: 769px){
      grid-column: 1 / 3;
    }
  }
  &:nth-of-type(3){
    grid-column: 5 / -1;
    @media (max-width: 769px){
      grid-column: 1 / 3;
    }
  }
  &:nth-of-type(4){
    grid-column: 1 / 4;
  }
  &:nth-of-type(5){
    grid-column: 4 / -1;
    @media (max-width: 769px){
      grid-column: 1 / 3;
    }
  }
}

